body
{
    font-family: monospace;
    font-size: 16px;
}

input
{
    height: 1.5em;
    font-family: monospace;
    vertical-align: baseline;
    font-size: inherit;
    width: 150px;
    border: none;
}

.loginForm
{
    position: absolute;
    right: 40px;
    margin-top: 30px;
    font-size: 1.2em;
}

.seachForm
{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.5em;
}

#loginError
{
    position: absolute;
    right: 20px;
    border: 2px black;
}

#logo
{
    margin: 20px;
    margin-top: 30px;
}

.buttonInput
{
    font-size: inherit;
    padding: 0px 10px;
    background-color: black;
    color: rgba(255,222,222,1);
    margin-left: 30px;
    border: none;
}

button
{
    font-size: inherit;
    padding: 0px 20px;
    background-color: black;
    color: rgba(255,222,222,1);
    margin-left: 30px;
    border: none;
    border: 3px solid black; 
    border-radius: 15px 50px 30px;
}

.buttonInput:hover, button:hover
{
    background-color: rgba(255,222,222,1);
    color: black;
}

#nowPlaying
{
    margin: 0 auto;
    margin-top: 10px;
}

#btnPlay
{
    margin: 10px auto;
    height: 40px;
}

#buttonSearch
{
    width: auto;
    margin-left: 0px;
}

#inputSearch
{
    width: 180px;
    margin-right: 0px;
}

.header
{
    display: flex;
    height: 120px;
    background: linear-gradient(106deg, rgba(240,222,255,1) 0%, rgba(255,222,222,1) 63%, rgba(254,254,254,0) 100%);
}


.musicPlayer
{
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(106deg, rgba(240,222,255,1) 0%, rgba(255,222,222,1) 63%, rgba(254,254,254,1) 100%);
}

table 
{
    margin: 20px auto;
    border-collapse: collapse;
    border: none;
    width: 100%;
}

td, th 
{
    border: none;
    border-left: 1px solid rgba(255,222,222,1);
    text-align: left;
    padding: 8px;
    text-align: center;
}
  
tr:nth-child(even) 
{
    background: linear-gradient(106deg, rgba(240,222,255,1) 0%, rgba(255,222,222,1) 63%, rgba(254,254,254,0) 100%);
}

.musicTable
{
    margin-top: 40px;
}

#allSongsTableDiv
{
    max-height: 250px;
    overflow-y: scroll;
}

#playlistTableDiv
{
    padding-bottom: 110px;
}

.hp_slide{
    width:30%;
    margin: 0 auto;
    background:rgba(255,222,222,1);
    height:20px;
    border: 3px solid black; 
}
.hp_range{
    width:0;
    background:black;
    height:16px;
    border: 2px solid rgba(255,222,222,1); 
    position: relative;
    bottom: 0.08px;
}

#timer
{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/* Here is the animation (keyframes) */
@keyframes fading 
{
    0% { opacity: 1; }
    30% { opacity: 0.9;}
    100% { opacity: 0; }
}