body
{
    font-family: monospace;
    font-size: 15px;
}

input
{
    height: 1.5em;
    font-family: monospace;
    vertical-align: baseline;
    font-size: inherit;
    width: 150px;
    border: none;
}

.loginForm
{
    position: absolute;
    right: 40px;
    margin-top: 30px;
    font-size: 1.5em;
}

.seachForm
{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.5em;
}

#loginError
{
    position: absolute;
    right: 20px;
    font-size: 1em;
    border: 2px black;
}

#logo
{
    margin: 20px;
    margin-top: 30px;
}

.buttonInput, button
{
    font-size: inherit;
    padding: 0px 10px;
    background-color: black;
    color: rgba(255,222,222,1);
    margin-left: 30px;
    border: none;
}

.buttonInput:hover, button:hover
{
    background-color: rgba(255,222,222,1);
    color: black;
}

#buttonSearch
{
    width: auto;
    margin-left: 0px;
}

#inputSearch
{
    width: 180px;
    margin-right: 0px;
}

.header
{
    display: flex;
    height: 120px;
    background: linear-gradient(106deg, rgba(240,222,255,1) 0%, rgba(255,222,222,1) 63%, rgba(254,254,254,0) 100%);
}

table 
{
    margin: 20px auto;
    border-collapse: collapse;
    border: none;
    width: 100%;
}

td, th 
{
    border: none;
    border-left: 1px solid rgba(255,222,222,1);
    text-align: left;
    padding: 8px;
    text-align: center;
}
  
tr:nth-child(even) 
{
    background: linear-gradient(106deg, rgba(240,222,255,1) 0%, rgba(255,222,222,1) 63%, rgba(254,254,254,0) 100%);
}

.musicTable
{
    margin-top: 40px;
}

/* Here is the animation (keyframes) */
@keyframes fading 
{
    0% { opacity: 1; }
    30% { opacity: 0.9;}
    100% { opacity: 0; }
}