<!doctype html>
<html lang="en">
<head>
<title>Music</title>
<meta name="description" content="Login">
<link rel="stylesheet" type="text/css" href="../style/my-style.css">
</head>
<body>
    <div class="header">
        <h1 id="logo">My bootleg spotify</h1>
        <form class="loginForm" id="loginForm">
            <label for="usernameInput">Username:</label>
            <input type="text" id="usernameInput" name="usernameInput">
            <label for="passwordInput">password:</label>
            <input type="password" id="passwordInput" name="passwordInput">
            <input class="buttonInput" id="buttonSearch" type="submit" value="Login"><br>
            <p id="loginError" hidden="true"></p>
        </form> 
    </div>
    <h2>Welcome to the bootleg spotify. Hope you'll enjoy or wide collection of 10 songs!</h2>
    <script src="../scripts/login.js"></script>
</body>
</html>