<!doctype html>
<html lang="en">
<head>
<title>Music</title>
<meta name="description" content="Login">
<link rel="stylesheet" type="text/css" href="../style/my-style.css">
</head>
<body>
    <div class="header">
        <h1 id="logo">My bootleg spotify</h1>
        <form class="loginForm" action="login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">password:</label>
            <input type="password" id="password" name="password">
            <input class="buttonInput" id="buttonSearch" type="submit" value="Login"><br>
            <p id="loginError">Wrong username or password!</p>
        </form> 
    </div>
    <h2>Welcome to the bootleg spotify. Hope you'll enjoy or wide collection of 10 songs!</h2>
    <!--script src="scripts/trySt.js"></script-->
</body>
</html>