<!doctype html>
<html lang="en">
<head>
<title>Music</title>
<meta name="description" content="User page">
<link rel="stylesheet" type="text/css" href="../style/my-style.css">
</head>
<body>
    <div class="header">
        <h1 id="logo"></h1>
        <form class="seachForm" id="searchForm">
            <label for="search">Search song:</label>
            <input id="inputSearch" type="text" id="search" name="search">
            <input id="buttonSearch" class="buttonInput" type="submit" value=">"><br>
        </form> 
        <form class="loginForm" id="logoutForm">
            <input class="buttonInput" type="submit" value="Logout"><br>
        </form> 
    </div>
    <script src="../scripts/user.js"></script>
    <div id="allSongsTableDiv" class="musicTable">
    <h2>Music you might be interested in:</h2>
    <table id="allSongsTable"></table>
    </div>
    <div class="musicTable">
      <h2>Your playlist:</h2>
      <h2 id="noPlaylist" hidden="true">No songs in your playlist</h2>
      <table id="playlistTable">
      </table>
    </div>
    <button onclick="play()">PLAY/PAUSE</button>
    <audio id="audio"></audio>
</body>
</html>